<!doctype html>
<html>
    <head>
        <title> Tiger Party</title>
        <link rel="stylesheet" href="../../static/style.css">
    </head>
    <div class="nav"  >
        <img  src="{{url_for('static', filename='Tiger.jpg')}}" style="cursor: pointer; margin-bottom: 0;" width="100" height="100" onclick="location.href='/showTeams'" />
        <h1 onclick="location.href='/showTeams'">Tiger Party</h1>
        <img  src="{{url_for('static', filename='Tiger.jpg')}}" style="cursor: pointer; margin-bottom: 0;" width="100" height="100" onclick="location.href='/showTeams'" />
        <h2 style="right: 0"  onclick="location.href='/ImmaculateGridGuesser'">Immaculate Grid Guesser</h2>
    </div>

    <nav class="teamNavbar">
        <ul>
            <li><a onclick="location.href='/team/roster'">Roster</a></li>
            <li><a onclick="location.href='/team/Batting-Stats'">Batting Stats</a></li>
            <li><a onclick="location.href='/team/Pitching-Stats'">Pitching Stats</a></li>
            <li><a onclick="location.href='/team/Fielding'">Fielding</a></li>
            <li><a onclick="location.href='/team/Depth-Chart'">Depth Chart</a> </li>
            <li><a onclick="location.href='/team/Team-Stats'">Team Stats</a> </li>
        </ul>
    </nav>

    <table class="table-container">
        <tr>
            <th style="width:  75px"> Player</th>
            <th onclick="toggleBox(this)" data-stat="b_AB" description = "Times At Bat"> AB</th>

            <th onclick="toggleBox(this)" data-stat="b_R" description = "Totals Runs to Home"> R</th>
            <th onclick="toggleBox(this)" data-stat="b_H" description = "Total First Bases at Least">H</th>
            <th onclick="toggleBox(this)" data-stat="b_2B" description = "Total Doubles">2B</th>
            <th onclick="toggleBox(this)" data-stat="b_3B" description = "Total Triples">3B</th>
            <th onclick="toggleBox(this)" data-stat="b_HR" description = "Total Home Runs">HR</th>
            <th onclick="toggleBox(this)" data-stat="b_RBI" description = "Caused Runs to Happen">RBI</th>
            <th onclick="toggleBox(this)" data-stat="b_SB" description = "Total Stolen Bases">SB</th>
            <th onclick="toggleBox(this)" data-stat="b_CS" description = "Caught Stealing">CS</th>
            <th onclick="toggleBox(this)" data-stat="b_BB" description = "Total Walks">BB</th>
            <th onclick="toggleBox(this)" data-stat="b_SO" description = "Strikeouts">SO</th>
            <th onclick="toggleBox(this)" data-stat="b_SH" description = "Sacrifice Hits(Bunts)">SH</th>
            <th onclick="toggleBox(this)" data-stat="b_SF" description = "Sacrifice Flies">SF</th>

            <div id="box">
                <span class="close-btn" style="cursor:pointer; position:absolute; top:0; right:5px;" onclick="hideBox()">
                    &times;
                </span>

                    <p id="description" style="margin: 0px;">Games Started</p>
                    <div style="display: flex;">
                        <p style="margin-right: 10px; padding-top: 5px">Sort By: </p>
                        <p class="boxP ASC" style="margin-right: 15px; ">ASC </p>
                        <p class="boxP DESC" >DESC</p>
                    </div>
            </div>
        </tr>

        <tbody id="table-body">
            {% for row in rows %}
            <tr>
                <td> {{ row[0] }} {{ row[1] }}</td>
                <td> {{ row[2] }}</td>
                <td> {{ row[3] }}</td>
                <td> {{ row[4] }}</td>
                <td> {{ row[5] }}</td>
                <td> {{ row[6] }}</td>
                <td> {{ row[7] }}</td>
                <td> {{ row[8] }}</td>
                <td> {{ row[9] }}</td>
                <td> {{ row[10] }}</td>
                <td> {{ row[11] }}</td>
                <td> {{ row[12] }}</td>
                <td> {{ row[13] }}</td>
                <td> {{ row[14] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <script>
        function toggleBox(element) {
            console.log('hi')
            var box = document.getElementById('box');
            var stat = element.getAttribute('data-stat');  // Get the data attribute for stat
            var description = element.getAttribute('description');
            updateSortTitle(description);
            console.log('hi');
            // Update the sorting links dynamically

            var sortAsc = box.querySelector('.boxP.ASC');
            var sortDesc = box.querySelector('.boxP.DESC');
            console.log(sortAsc)
            // Update the onclick functions to use the correct stat

            sortAsc.onclick = function() { sort('batting', stat, 'ASC'); };
            sortDesc.onclick = function() { sort('batting', stat, 'DESC'); };
            console.log('hi')
            var rect = element.getBoundingClientRect();
            // Positioning the box next to the button
            box.style.left = (rect.left + rect.width) - 77 + 'px';
            box.style.top = rect.top - 115 + 'px';
            // Toggle display
            box.style.display = (box.style.display === 'block') ? 'none' : 'block';
            console.log('hi')
        }

        function updateSortTitle(newTitle) {
            var titleElement = document.getElementById('description');
            titleElement.textContent = newTitle;
        }
        function hideBox() {
            document.getElementById("box").style.display = "none";
        }

        function sort(type,e,act) {
            fetch('/sort', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ type:type, action: act, stat: e })  // Send JSON data
            })
            .then(response => {
                if (response.ok) {
                    return response.json(); // Parse JSON response
                }
                throw new Error('Network response was not ok.'); // Handle errors
            })
            .then(data => {
                console.log('hi')
                console.log(data.rows); // Log the rows data
                updateRows(data)

            })
            .catch(error => console.error('Error:', error));  // Log any errors
            {#.catch(error => console.error('Error:', error));#}
        }

        function updateRows(data) {
            var tableBody = document.getElementById('table-body');
            tableBody.innerHTML = ''; // Clear existing rows

            data.rows.forEach(function(row) {
                var tr = document.createElement('tr'); // Create a new table row
                var first = true;
                // Assuming each 'row' is an array of values:
                row.forEach(function(cellData) {
                    if(first){
                        var td = document.createElement('td');
                        td.textContent = cellData + ' ' + row[1];

                        tr.appendChild(td); // Append the cell to the row
                        first = false
                    }
                    else if(!first && !(row[1] === cellData)){
                        var td = document.createElement('td');
                        td.textContent = cellData;
                        tr.appendChild(td); // Append the cell to the row
                    }

                });

                tableBody.appendChild(tr); // Append the new row to the table body
            });
        }
    </script>

</html>