<!doctype html>
<html>
    <head>
        <title> Tiger Party</title>
        <link rel="stylesheet" href="../../static/style.css">
    </head>
    <div class="nav"  >
        <img  src="{{url_for('static', filename='Tiger.jpg')}}" style="cursor: pointer; margin-bottom: 0;" width="100" height="100" onclick="location.href='/showTeams'" />
        <h1 onclick="location.href='/showTeams'">Tiger Party</h1>
        <img  src="{{url_for('static', filename='Tiger.jpg')}}" style="cursor: pointer; margin-bottom: 0;" width="100" height="100" onclick="location.href='/showTeams'" />
        <h2  onclick="location.href='/ImmaculateGridGuesser'">Immaculate Grid Guesser</h2>
    </div>

    <nav class="teamNavbar">
        <ul>
            <li><a onclick="location.href='/team/roster'">Roster</a></li>
            <li><a onclick="location.href='/team/Batting-Stats'">Batting Stats</a></li>
            <li><a onclick="location.href='/team/Pitching-Stats'">Pitching Stats</a></li>
            <li><a onclick="location.href='/team/Positions'">Positions</a></li>
            <li><a onclick="location.href='/team/Depth-Chart'">Depth Chart</a> </li>
        </ul>
    </nav>

    <table class="table-container">
        <tr>
            <th> Player</th>
            <th> At Bats</th>
            <th> Runs</th>
            <th>Singles</th>
            <th>Doubles</th>
            <th>Triples</th>
            <th>Home Runs</th>
            <th>Caused Runs</th>
            <th>Stolen Bases</th>
            <th>Failed Steals</th>
            <th>Walks</th>
            <th>Strikeouts</th>
            <th>Bunts</th>
            <th> Sacrifice Flies</th>
        </tr>
        {% for row in rows %}
        <tr>
            <td> {{ row[0] }} {{ row[1] }}</td>
            <td> {{ row[2] }}</td>
            <td> {{ row[3] }}</td>
            <td> {{ row[4] }}</td>
            <td> {{ row[5] }}</td>
            <td> {{ row[6] }}</td>
            <td> {{ row[7] }}</td>
            <td> {{ row[8] }}</td>
            <td> {{ row[9] }}</td>
            <td> {{ row[10] }}</td>
            <td> {{ row[11] }}</td>
            <td> {{ row[12] }}</td>
            <td> {{ row[13] }}</td>
            <td> {{ row[14] }}</td>
        </tr>
        {% endfor %}
    </table>


</html>