<!doctype html>
<html>
    <head>
        <title> Tiger Party</title>
        <link rel="stylesheet" href="../../static/style.css">
    </head>
    <div class="nav"   >
        <img  src="{{url_for('static', filename='Tiger.jpg')}}" style="cursor: pointer; margin-bottom: 0;" width="100" height="100" onclick="location.href='/showTeams'" />
        <h1 onclick="location.href='/showTeams'">Tiger Party</h1>
        <img  src="{{url_for('static', filename='Tiger.jpg')}}" style="cursor: pointer; margin-bottom: 0;" width="100" height="100" onclick="location.href='/showTeams'" />
        <h2 style="right: 0" onclick="location.href='/ImmaculateGridGuesser'">Immaculate Grid Guesser</h2>
    </div>
    <body style="background: white"></body>

    <nav class="teamNavbar" >
        <ul>
            <li><a onclick="location.href='/team/roster'">Roster</a></li>
            <li><a onclick="location.href='/team/Batting-Stats'">Batting Stats</a></li>
            <li><a onclick="location.href='/team/Pitching-Stats'">Pitching Stats</a></li>
            <li><a onclick="location.href='/team/Fielding'">Fielding</a></li>
            <li><a onclick="location.href='/team/Depth-Chart'">Depth Chart</a> </li>
        </ul>
    </nav>
    <div>
        <div style="position: relative;">
            <div style="left: 37%; margin-top: 6%" class="DepthCard">
                <p class="DepthCardPTitle">CF</p>
                <div style="display: flex">
                    <p style="left: 0">Jose Altuve</p>
                    <p style="right: 0">10% </p>
                </div>
            </div>
        </div>


        <div style="position: relative;">
            <div style="left: 22%; margin-top: 14%" class="DepthCard">
                <p class="DepthCardPTitle">LF</p>
                <div style="display: flex">
                    <p style="left: 0">Jose Altuve</p>
                    <p style="right: 0">10% </p>
                </div>
            </div>
        </div>

        <div style="position: relative;">
            <div style="left: 53%; margin-top: 14%" class="DepthCard">
                <p class="DepthCardPTitle">RF</p>
                <div style="display: flex">
                    <p style="left: 0">Jose Altuve</p>
                    <p style="right: 0">10% </p>
                </div>
            </div>
        </div>

        <img  src="{{url_for('static', filename='field.png')}}" style="position: relative; left: 10%; margin-top: 5%;" width="65%" height="50%"  alt=""/>
    </div>

</html>