<!doctype html>
<html>
    <head>
        <title> Tiger Party</title>
        <link rel="stylesheet" href="../../static/style.css">
    </head>
    <div class="nav"  >
        {% if admin %}
        	<h2  onclick="location.href='/admin'" style="left: 7%;background-color: red" >AdminPage</h2>
        {% endif %}
        <h2  onclick="location.href='/showTeams'" style="position: absolute; left: 0;  align-items: center; justify-content: center;">Back</h2>
        <img  src="{{url_for('static', filename='Tiger.jpg')}}" style="cursor: pointer; margin-bottom: 0;" width="100" height="100" onclick="location.href='/showTeams'" />
        <h1 onclick="location.href='/showTeams'">Tiger Party</h1>
        <img  src="{{url_for('static', filename='Tiger.jpg')}}" style="cursor: pointer; margin-bottom: 0;" width="100" height="100" onclick="location.href='/showTeams'" />
        <h2 style="right: 0"  onclick="location.href='/ImmaculateGridGuesser'">Immaculate Grid Guesser</h2>
    </div>

    <nav class="teamNavbar">
        <ul>
            <li><a onclick="location.href='/team/roster'">Roster</a></li>
            <li><a onclick="location.href='/team/Batting-Stats'">Batting Stats</a></li>
            <li><a onclick="location.href='/team/Pitching-Stats'">Pitching Stats</a></li>
            <li><a onclick="location.href='/team/Fielding'">Fielding</a></li>
            <li><a onclick="location.href='/team/Depth-Chart'">Depth Chart</a> </li>
            <li><a onclick="location.href='/team/Team-Stats'">Team Stats</a> </li>
        </ul>
    </nav>

    <table class="table-container">
        <tr>
            <th style="width:  75px">Player</th>

            <th  style=" padding-left: 15px;" onclick="toggleBox(this)" data-stat="f_G" description = "Games Played Fielding">G</th>
            <th  style=" padding-left: 15px;" onclick="toggleBox(this)" data-stat="f_GS" description = "Games Started">GS</th>
            <th style="width:  20px;padding-left: 7px;" onclick="toggleBox(this)" data-stat="f_InnOuts" description = "Total Outs Caused">InnOuts</th>
            <th style="width:  25px" onclick="toggleBox(this)" data-stat="f_PO" description = "Putouts">PO</th>
            <th style=" padding-left: 15px;" onclick="toggleBox(this)" data-stat="f_A" description = "Assists(throws to out)">A</th>
            <th style=" padding-left: 15px;" onclick="toggleBox(this)" data-stat="f_E" description = "Errors(times an out should have occurred)">E</th>
            <th style=" padding-left: 15px;"  onclick="toggleBox(this)" data-stat="f_DP" description = "Double Play Participation">DP</th>
            <th style=" padding-left: 15px;"  onclick="toggleBox(this)" data-stat="f_PB" description = "Failed Catches for Catchers"> PB</th>
            <th style=" padding-left: 12px; " onclick="toggleBox(this)" data-stat="f_SB" description = "Stolen Bases Allowed">SB</th>
            <th style=" padding-left: 12px;"  onclick="toggleBox(this)" data-stat="f_CS" description = "Caught Stealing"> CS</th>
            <th style=" padding-left: 12px;" onclick="toggleBox(this)" data-stat="f_ZR" description = "Zone rating(efficiency of covering ground)">ZR</th>
            <th style=" padding-left: 12px;" onclick="toggleBox(this)" data-stat="WAR" description = "Wins Above replacement">WAR</th>


            <div id="box">
                <span class="close-btn" style="cursor:pointer; position:absolute; top:0; right:5px;" onclick="hideBox()">
                    &times;
                </span>

                    <p id="description" style="margin: 0px">Games Started</p>
                    <div style="display: flex;">
                        <p style="margin-right: 10px; padding-top: 5px">Sort By: </p>
                        <p class="boxP ASC" style="margin-right: 15px;">ASC </p>
                        <p class="boxP DESC" >DESC</p>
                    </div>
            </div>

        </tr>
        <tbody id="table-body">
            {% for row in rows %}
            <tr>
                <td> {{ row[0] }} {{ row[1] }}</td>

                <td > {{ row[2] }}</td>
                <td> {{ row[3] }}</td>
                <td> {{ row[4] }}</td>
                <td> {{ row[5] }}</td>
                <td> {{ row[6] }}</td>
                <td> {{ row[7] }}</td>
                <td> {{ row[8] }}</td>
                <td> {{ row[9] }}</td>
                <td> {{ row[10] }}</td>
                <td> {{ row[11] }}</td>
                <td> {{ row[12] }}</td>
                {% if row[13] %}
                	<td> {{ row[13] }}</td>


                {% else %}
                    <td> </td>
                {% endif %}



            </tr>
            {% endfor %}

        </tbody>
    </table>

    <script>
        function toggleBox(element) {
            console.log('hi')
            var box = document.getElementById('box');
            var stat = element.getAttribute('data-stat');  // Get the data attribute for stat
            var description = element.getAttribute('description');
            updateSortTitle(description);
            console.log('hi');
            // Update the sorting links dynamically

            var sortAsc = box.querySelector('.boxP.ASC');
            var sortDesc = box.querySelector('.boxP.DESC');
            console.log(sortAsc)
            // Update the onclick functions to use the correct stat

            sortAsc.onclick = function() { sort('fielding', stat, 'ASC'); };
            sortDesc.onclick = function() { sort('fielding', stat, 'DESC'); };
            console.log('hi')
            var rect = element.getBoundingClientRect();
            // Positioning the box next to the button
            box.style.left = (rect.left + rect.width) - 77 + 'px';
            box.style.top = rect.top - 115 + 'px';
            // Toggle display
            box.style.display = (box.style.display === 'block') ? 'none' : 'block';
            console.log('hi')
        }

        function updateSortTitle(newTitle) {
            var titleElement = document.getElementById('description');
            titleElement.textContent = newTitle;
        }
        function hideBox() {
            document.getElementById("box").style.display = "none";
        }

        function sort(type,e,act) {
            fetch('/sort', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ type:type, action: act, stat: e })  // Send JSON data
            })
            .then(response => {
                if (response.ok) {
                    return response.json(); // Parse JSON response
                }
                throw new Error('Network response was not ok.'); // Handle errors
            })
            .then(data => {
                console.log('hi')
                console.log(data.rows); // Log the rows data
                updateRows(data)

            })
            .catch(error => console.error('Error:', error));  // Log any errors
            {#.catch(error => console.error('Error:', error));#}
        }

        function updateRows(data) {
            var tableBody = document.getElementById('table-body');
            tableBody.innerHTML = ''; // Clear existing rows

            data.rows.forEach(function(row) {
                var tr = document.createElement('tr'); // Create a new table row
                var first = true;
                // Assuming each 'row' is an array of values:
                row.forEach(function(cellData) {
                    if(first){
                        var td = document.createElement('td');
                        td.textContent = cellData + ' ' + row[1];

                        tr.appendChild(td); // Append the cell to the row
                        first = false
                    }
                    else if(!first && !(row[1] === cellData)){
                        var td = document.createElement('td');
                        td.textContent = cellData;
                        tr.appendChild(td); // Append the cell to the row
                    }

                });

                tableBody.appendChild(tr); // Append the new row to the table body
            });
        }
    </script>

</html>