<!doctype html>
<html>
    <head>
        <title> Tiger Party</title>
        <link rel="stylesheet" href="../../static/style.css">
    </head>
    <div class="nav"  >
        {% if admin %}
        	<h2  onclick="location.href='/admin'" style="left: 7%;background-color: red" >AdminPage</h2>
        {% endif %}
        <h2  onclick="location.href='/showTeams'" style="position: absolute; left: 0;  align-items: center; justify-content: center;">Back</h2>
        <img  src="{{url_for('static', filename='Tiger.jpg')}}" style="cursor: pointer; margin-bottom: 0;" width="100" height="100" onclick="location.href='/showTeams'" />
        <h1 onclick="location.href='/showTeams'">Tiger Party</h1>
        <img  src="{{url_for('static', filename='Tiger.jpg')}}" style="cursor: pointer; margin-bottom: 0;" width="100" height="100" onclick="location.href='/showTeams'" />
        <h2  style="right: 0"  onclick="location.href='/ImmaculateGridGuesser'">Immaculate Grid Guesser</h2>
    </div>

    <nav class="teamNavbar">
        <ul>
            <li><a onclick="location.href='/team/roster'">Roster</a></li>
            <li><a onclick="location.href='/team/Batting-Stats'">Batting Stats</a></li>
            <li><a onclick="location.href='/team/Pitching-Stats'">Pitching Stats</a></li>
            <li><a onclick="location.href='/team/Fielding'">Fielding</a></li>
            <li><a onclick="location.href='/team/Depth-Chart'">Depth Chart</a> </li>
            <li><a onclick="location.href='/team/Team-Stats'">Team Stats</a> </li>
        </ul>
    </nav>

    <main>
        <div class="roster-container">
            <div class="rosterCard">
                <div >
                    <h3 style="margin-top: 0">Roster:</h3>

                    <form method="post" action="{{ url_for('index') }}">
                        {{ form.hidden_tag() }}
                        {{ form.rosterOptions() }}
                        {{ form.submit() }}
                    </form>
                </div>


                <div class="roster-row">
                    {% for row in rows %}
                        <div class="roster-entry" onclick="location.href='/player?player={{ row[2] }}' ">{{ row[0] }} {{ row[1] }}</div>
                        {% if loop.index % 3 == 0 %}
                            </div><div class="roster-row">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>

</html>