{% extends "PitchingStats.html" %}

{% block content %}
    <div id="box">
                <span class="close-btn" style="cursor:pointer; position:absolute; top:0; right:5px;" onclick="hideBox()">
                    &times;
                </span>

                    <p style="margin: 0px">Games Started</p>
                    <div style="display: flex;">
                        <p style="margin-right: 10px">Sort By: </p>
                        <p onclick="sort('pitching','p_GS','ASC')" class="boxP" style="margin-right: 15px;">ASC </p>
                        <p onclick="sort('pitching','p_GS','DESC')" class="boxP" >DESC</p>
                    </div>
            </div>
{% endblock %}