{% extends "roster.html" %}

{% block content %}
    <h1>Sign In</h1>
    <form method="post" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}
        <select id="choiceDropdown" name="choiceDropdown">
            {% for choice in choices %}
                <option value="{{ choice }}">{{ choice }}</option>
            {% endfor %}
        </select>
        <script>
            document.getElementById('choiceDropdown').addEventListener('change', function() {
                var selectedValue = this.value;
                document.getElementById('usernameInput').value = selectedValue;
            });
        </script>



        <p>
            {{ form.password.label }} {{ form.password() }}<br>
            {{ form.remember_me.label }} {{ form.remember_me() }}<br>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}
