
<!doctype html>
<html >
    <head>
        <title> Tiger Party</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>

    <div class="centered-container">
        <h1  style="margin-top: 150px"></h1>

        <h1 >Admin Login</h1>

        <body style="background: linear-gradient(red,black)">

            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}<br><br>
                    {{ form.username(size=32) }}
                </p>
                <p>
                    {{ form.password.label }}<br><br>
                    {{ form.password(size=32) }}
                </p>
                <div style="margin-right: 32%">
                    {{ form.submit() }}
                </div>
            </form>
            <button style="margin-top: 10px" onclick="location.href='/'" class="stylish-button">Leave</button>

        </body>
    </div>


</html>
