
<!doctype html>
<html >
    <head>
        <title> Tiger Party</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>

    <div class="centered-container">
        <h1  style="margin-top: 150px"></h1>

        <h1  >Welcome to Tiger Party!</h1>

        <h1  >Sign in</h1>
        <body >
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}<br>
                    <br>
                    {{ form.username(size=32) }}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    <br>
                    {{ form.password(size=32) }}
                </p>
                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                <p>{{ form.submit() }}</p>

            </form>
            <div><a href="/register" style="color: black">Dont have an Account?</a></div>
        </body>
    </div>
    <button  onclick="location.href='/adminLogin'" class="admin-button">Admin Login</button>


</html>
